<%- include header.ejs %>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Courses
        <small>Do not my shy, banking is easy learn!</small>
      </h1>
    </div>
  <% for(var i = 0; i < vids.length; i++) { %>
    <% if(i % 3 === 0 || vids.length === i ){ %></div><% } %>
    <% if(i % 3 === 0 ){ %><div class="row vidrow"><% } %>
    <div class="col-md-3 portfolio-item">
      <a href="<%= vids[i].uri %>">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      </a>
    </div>
  <% if(vids.length - 1 === i  ){ %></div><% } %>


  <% } %>

  <!-- Projects Row -->

  <hr>
<%- include footer.ejs %>