<h2>Quiz</h2>

<div class="quiz-container">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/javascripts/quiz.js"></script>
<script type='text/javascript'>
  var rows =<%-JSON.stringify(quiz)%>;;
    startQuiz(rows);
</script>

</div>
