<h2>Quiz</h2>

<div class="quiz-container"></div>
  <div class="summary"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/javascripts/quiz.js"></script>
<script type='text/javascript'>
  var rows =<%-JSON.stringify(quiz)%>;;
    startQuiz(rows);
</script>


<h2>What is a current account?</h2><p>A current account is an account with a bank or building society from which money may be withdrawn without notice, typically an active account catering for frequent deposits and withdrawals by cheque.</p><p>Lisa is a working professional who is looking for a secure place to keep her monthly wages where she can withdraw money for day-to-day costs.</p>


